USE [master]
GO
/****** Object:  Database [QUANLYGIANGVIEN]    Script Date: 1/29/2018 12:21:58 PM ******/
CREATE DATABASE [QUANLYGIANGVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYGIANGVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUANLYGIANGVIEN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYGIANGVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QUANLYGIANGVIEN_log.ldf' , SIZE = 5824KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYGIANGVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYGIANGVIEN]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 1/29/2018 12:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiangVien](
	[hoLotGiangVien] [nvarchar](60) NULL,
	[tenGiangVien] [nvarchar](30) NULL,
	[maGiangVien] [char](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 1/29/2018 12:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LopHoc](
	[maLopHoc] [int] NOT NULL,
	[thu] [int] NULL,
	[tietBatDau] [int] NULL,
	[soTiet] [int] NULL,
	[tenPhong] [nvarchar](10) NULL,
	[maLop] [nvarchar](10) NULL,
	[maGiangVien] [char](5) NULL,
	[maMonHoc] [char](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 1/29/2018 12:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonHoc](
	[tenMonHoc] [nvarchar](100) NULL,
	[maMonHoc] [char](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TietHoc]    Script Date: 1/29/2018 12:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TietHoc](
	[maLopHoc] [int] NOT NULL,
	[ngayHoc] [date] NOT NULL,
	[trangThai] [int] NULL,
	[ghiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLopHoc] ASC,
	[ngayHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[GiangVien] ([maGiangVien])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([maMonHoc])
REFERENCES [dbo].[MonHoc] ([maMonHoc])
GO
ALTER TABLE [dbo].[TietHoc]  WITH CHECK ADD FOREIGN KEY([maLopHoc])
REFERENCES [dbo].[LopHoc] ([maLopHoc])
GO
USE [master]
GO
